@import "tailwindcss";

@theme {
    /* Font vars */
    --font-sans:
        var(--font-interstate), ui-sans-serif, system-ui, -apple-system,
        "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    --font-serif:
        var(--font-miller-text), ui-serif, Georgia, Cambria, "Times New Roman",
        Times, serif;
    --font-display: var(--font-miller-display), var(--font-serif);
    --font-banner: var(--font-miller-banner), var(--font-serif);

    /* Color vars */
    --color-mhd-red: #af272f;
    --color-mhd-black: #000000;
    --color-alt: #efeee9;
    --color-second-alt: #e0ded7;
}

@media (prefers-color-scheme: dark) {
    :root {
    }
}
